@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.Major-Container{
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('../img/AddDishes/Background1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(4px) opacity(0.95);
    z-index: -1;
}

.Sub-Container{
    position: absolute;
    width: 70%;
    height: auto;
    margin-top: 2%;
    margin-left: 15%;
    margin-bottom: 2%;
    padding: 2% 2%;
    padding-top: 0%;
    background-color: #FBFCFC;
    box-shadow: 4px 4px 10px #2b3238;
    border-radius: 10px;
}

.header{
    text-align: center;
    font-family: 'Sofia', cursive;
    font-size: 48px;
    color: #F4D03F;
    text-decoration: underline;
    text-decoration-color: red; 
    padding: 0 auto;
}

.sub-header{
    text-align: center;
    font-family: 'Sofia', cursive;
    font-size: 40px;
    color: #F4D03F;
    text-decoration: underline;
    text-decoration-color:red;
    padding : 0 auto;
}

form{
    width: 100%;
    height: auto;
    position: relative;
}

.container{
    position: relative;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0 0;
    clear:both;
}

.row1toright {
    padding-left: 4%;
    padding-right: 2%;
    padding-top: 2%;
    width: 100%;
    box-shadow: 4px 3px 10px #E5E7E9;
}

.row1toleft{
    box-shadow: -1px 3px 10px #E5E7E9;
}

.form-group{
    margin-bottom: 20px;
    display: flex;
}

.form-check{
    display: block;
    height: calc(1.5em + .75rem + 2px);
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    width: 50%;
    transition: 0.6s;
    margin-bottom: 2px;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    outline: none;
}
.form-control{
    border: none;
    border-bottom: 2px solid #6D7781;
    border-radius: 0;
    width: 50%;
    transition: 0.6s;
    margin-bottom: 2px;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    outline: none;
}


.form-control:focus{
    border-bottom: 4px solid #F1C40F;
    border-radius: 3px;
    height :calc(2.0em + 1.2rem + 2px);
} 

.label_{
    padding-top: 3px;
    font-size: 24px;
    font-family: 'Lobster', cursive;
    color: #F5B041;
}

svg {
	fill: rgb(202, 207, 210);
	height: 3.6rem;
	width: 3.6rem;
    margin: 0.2rem;
    margin-right: 50px;
}
.categoryclass{
    margin-right: 50px;
    padding-top: 3px;
    font-size: 24px;
    font-family: 'Lobster', cursive;
    color: #F5B041;
}

.alcoholclass{
    padding-top: 3px;
    font-size: 24px;
    font-family: 'Lobster', cursive;
    color: #F5B041;
    margin-right: 60px;
}
input[type="radio"] {
	position: absolute;
	opacity: 0;
}

input[type="radio"] + svg {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

input + svg {
	cursor: pointer;
}

input[id="id_category_0"]:hover + svg,
input[id="id_category_0"]:checked + svg,
input[id="id_category_0"]:focus + svg {
	fill: rgb(88, 214, 141);
}

input[id="id_alcohol_0"]:hover + svg,
input[id="id_alcohol_0"]:checked + svg,
input[id="id_alcohol_0"]:focus + svg {
	fill: rgb(244, 208, 63);
}

input[id="id_category_1"]:hover + svg,
input[id="id_category_1"]:checked + svg,
input[id="id_category_1"]:focus + svg {
	fill: rgb(231, 76, 60);
}

input[id="id_alcohol_1"]:hover + svg,
input[id="id_alcohol_1"]:checked + svg,
input[id="id_alcohol_1"]:focus + svg {
	fill: rgb(236, 112, 99);
}

.add-tags{
    height: 40px;
    width: 40px;
    margin-left: 20px;
    border-radius: 50%;
    background-color: #16A085;
    padding: 7px 8px;
}

#id_name{
    margin-left: 24px;
}

#id_price{
    margin-left: 90px;
}

#id_food_tag{
    margin-left: 100px;
}

label[for="id_description"]{
    padding-top: 3px;
    font-size: 24px;
    font-family: 'Lobster', cursive;
    color: #F5B041;
    margin-right: 28px;
}


.secondRow{
    margin-top: 3%;
    box-shadow: 4px 3px 10px #E5E7E9;
    padding-top: 2%;
    padding-left: 3%;
    padding-bottom: 3%;
}

#id_description_tag{
    margin-right: 20px;
}

.description-group{
    padding-right: 6%;
    padding-left: 2%;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    
}

#id_description{
    width: 100%;
    padding: 2% 2%;
    height : 15rem;
    border: none;
    border-bottom: 3px solid #6D7781;
    border-radius: 0px;
    transition: 0.6s ease-in-out;
    outline: none;
}

#id_description:focus{
    border-bottom: 5px solid #F1C40F;
    border-radius: 5px;
    height :calc(15.0rem + 1.0rem + 2px);
    box-shadow: 0 0 0 3pt #bedef4;
}

.button-div{
    margin: auto;
    width: 50%;
}

input[type="submit"]{
    background: #1FCE6D;
    border: 0;
    width: 200px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    font-style: bold;
    cursor: pointer;
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 5px;
}


.button-div a, a:hover, a:visited{
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: white;
    color: white;
}

.cancel-link{
    background: #E74C3C;
    padding: 6px 65px;
    border: 0;
    width: 200px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    font-style: bold;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 5px;
}

