{% extends 'base.html' %}

{% load static form_tags widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/Add_New_Dish_Details.css' %}">
{% endblock %}

{% block body %}

    <div class = "Major-Container"></div>
    <div class = "Sub-Container">
        <p class="header">
            Creating Something New
        </p>
        <p class="sub-header">
            First Step Add Details
        </p>
        <form action="" method="POST" >
            {% csrf_token %}
            <div class="container">
                <div class = 'row' style="height: 100%">
                    <div class ='col row1toright' >
                        <div class = "form-group">
                            <label class = "label_" for="id_name">Dish's Name:</label>
                            <input class = "form-control" type="text" autocomplete='off' name="name" placeholder="Name Of The Dish" maxlength="255" required="" id="id_name">
                        </div>
                        <div class="form-group">
                            <label class="label_" for="id_tag">Tag:</label>
                            <select class="form-control"  name="food_tag" required="" id="id_food_tag">
                                <option value="" selected disabled hidden>Pick A Tag</option>
                                {% for tag in tags %}
                                    <option value="{{ tag.id }}"> {{ tag.name }} </option>
                                {% endfor %}
                            </select>
                            <a class="add-tags" href="{% url 'addtag' %}" onclick="window.open(this.href,'targetWindow',`toolbar=no, location=no, status=no, menubar=no,scrollbars=yes,resizable=yes,width=SomeSize,height=SomeSize`);return false;">
                                <i class="fa fa-plus" style="font-size: 30px; color: white;"></i>
                            </a>
                        </div>
                        <div class = "form-group">
                            <label class = "label_" for="id_price">Price:</label>
                            <input type="number" class = "form-control" min = '0' autocomplete="off" placeholder="Enter Amount in &#x20B9;" name="price" step="0.01" required="" id="id_price">
                        </div>
                        <div class="form-group">
                            <p class="categoryclass">Category:</p>
                            <label for="id_category_0">
                                <input type="radio" name="category" value="Veg" required="" id="id_category_0">
                                <svg style="width:42px;height:42px" viewBox="0 0 24 24">
                                    <path  d="M17,8C8,10 5.9,16.17 3.82,21.34L5.71,22L6.66,19.7C7.14,19.87 7.64,20 8,20C19,20 22,3 22,3C21,5 14,5.25 9,6.25C4,7.25 2,11.5 2,13.5C2,15.5 3.75,17.25 3.75,17.25C7,8 17,8 17,8Z" />
                                </svg>
                            </label>
                            <label for="id_category_1">
                                <input type="radio" name="category" value="Non-Veg" required="" id="id_category_1">
                                <svg style="width:42px;height:42px" viewBox="0 0 24 24">
                                    <path  d="M20.16 12.73C22.93 9.96 22.57 5.26 19.09 3C17.08 1.67 14.39 1.66 12.36 2.97C10.6 4.1 9.63 5.86 9.46 7.68C9.33 9 8.83 10.23 7.91 11.15L7.88 11.18C6.72 12.34 6.72 14.11 7.81 15.19L8.8 16.18C9.89 17.27 11.66 17.27 12.75 16.18C13.72 15.21 15 14.68 16.39 14.53C17.76 14.38 19.1 13.78 20.16 12.73M6.26 19.86C6.53 20.42 6.44 21.1 5.97 21.56C5.39 22.15 4.44 22.15 3.85 21.56C3.58 21.29 3.44 20.94 3.42 20.58C3.06 20.56 2.71 20.42 2.44 20.15C1.85 19.56 1.85 18.61 2.44 18.03C2.9 17.57 3.59 17.47 4.14 17.74L6.62 15.31C6.76 15.5 6.92 15.72 7.1 15.9L8.09 16.89C8.3 17.09 8.5 17.26 8.76 17.41L6.26 19.86Z" />
                                </svg>
                            </label>
                        </div>
                        <div class="form-group">
                            <p class="alcoholclass">Alcohol:</p>
                            <label for="id_alcohol_0">
                                <input type="radio" name="alcohol" value="Yes" required="" id="id_alcohol_0">
                                <svg style="width:42px;height:42px" viewBox="0 0 24 24">
                                    <path  d="M7.5,7L5.5,5H18.5L16.5,7M11,13V19H6V21H18V19H13V13L21,5V3H3V5L11,13Z" />
                                </svg>
                            </label>
                            <label for="id_alcohol_1">
                                <input type="radio" name="alcohol" value="No" required="" id="id_alcohol_1">
                                <svg style="width:42px;height:42px" viewBox="0 0 24 24">
                                    <path  d="M13.33 12.67L7.66 7L6.13 5.47L2.39 1.73L1.11 3L3 4.89V5L11 13V19H6V21H18V19.89L20.84 22.73L22.11 21.46L13.33 12.67M13 19V14.89L17.11 19H13M8.2 5L6.2 3H21V5L14.6 11.4L10.2 7H16.5L18.5 5H8.2Z" />
                                </svg>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row secondRow">
                    <p class="label_" id="id_description_tag">Description:</p>
                    
                    <div class="description-group">
                        <textarea placeholder="Add A Description About The Dish . . . . " name="description" id="id_description" ></textarea>   
                    </div>
                </div>
            </div>
            <div class="button-div">
                <input type="submit" class="animated" value="Submit"></input>
                <a class="cancel-link" href="#">Cancel</a>
            </div>
        </form> 
    </div>
{% endblock %}   
