{% extends "base.html" %}

{% include static %}

{% block body %}
	{% include "./CSS/my_cart_css.html" %}
	
	{% include "./navbar.html" %}
	
<!-- INSIDE MASTER -->

	<div class="cartContainer ">
		<div class="heading ">My Cart (2)</div>

		{% for i in cnt %}
			<div class="item ">
				<div class="imageDetails ">
					<div class="imageContainer temp" style="background: url('/media/DishImages/3/icon_image.png'); background-size: cover; background-position: center;">
						<!-- image -->
					</div>
					<div class="countContainer ">
						<div class="removeItem "> - </div>
						<div class="itemCount ">
							1	
						</div>
						<div class="addItem "> + </div>
					</div>
				</div>


				<!-- ORDER DETAILS -->
				<div class="orderDetails  ">
					<div class="itemHeading ">
						Dish Name
					</div>
					<div class="dishInfo">
						<div class="itemTag ">Item Tag</div>
						<div class="itemCategory ">category</div>
					</div>
					
					<div class="dishDetails ">
						Gand me danda le...!
					</div>

					<div class="priceInfo">
						<div class="itemPrice ">&#8377; 250/-</div>
						<div class="removeFromCart "><div>Remove</div></div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<div class="priceContainer ">
		<div class="priceHeading ">PRICE DETAILS</div>
		<div class="pricingContainer">
			{% for i in cnt %}
				<div class="pricing ">
					<div class="price ">Dish Name {{i}} :</div>
					<div class="value ">&#8377; 250/-</div>
				</div>
			{% endfor %}
		</div>
		<div class="total">
			<div class="totalPrice ">Total Amount :</div>
			<div class="totalValue ">&#8377; 250/-</div>
		</div>
	</div>
	


{% endblock %}