{% extends "base.html" %}

{% include static %}

{% block body %}
	{% include "./CSS/my_cart_css.html" %}
	
	{% include "./navbar.html" %}
	
<!-- INSIDE MASTER -->

	<div class="cartContainer ">
		<div class="heading ">My Cart ({{OrderCount}})</div>

		{% for order in orders %}
			<div class="item ">
				<div class="imageDetails ">
					<div class="imageContainer temp" style="background: url('{{ order.ordered_dish.icon_image.url }}'); background-size: cover; background-position: center;">
						<!-- image -->
					</div>
					<div class="countContainer ">
						<div class="removeItem "> - </div>
						<div class="itemCount ">
							{{ order.quantity }}
						</div>
						<div class="addItem "> + </div>
					</div>
				</div>


				<!-- ORDER DETAILS -->
				<div class="orderDetails  ">
					<div class="itemHeading ">
						{{ order.ordered_dish.name }}
					</div>
					<div class="dishInfo">
						<div class="itemTag ">{{ order.ordered_dish.food_tag.name }}</div>
						<div class="itemCategory ">category</div>
					</div>
					
					<div class="dishDetails ">
						{% if order.ordered_dish.description|length > 200 %}
							{{ order.ordered_dish.description|slice:200 }} . . .
						{% else %}
							{{ order.ordered_dish.description }}
						{% endif %}
					</div>

					<div class="priceInfo">
						<div class="itemPrice ">&#8377; {{ order.total_amount }}/-</div>
						<div class="removeFromCart "><div>Remove</div></div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<div class="priceContainer ">
		<div class="priceHeading ">PRICE DETAILS</div>
		<div class="pricingContainer">
			{% for order in orders %}
				<div class="pricing ">
					<div class="price ">{{ order.ordered_dish }}</div>
					<div class="value ">&#8377; {{ order.total_amount }}/-</div>
				</div>
			{% endfor %}
		</div>
		<div class="total">
			<div class="totalPrice ">Total Amount :</div>
			<div class="totalValue ">&#8377; {{Total_Price}}/-</div>
		</div>
	</div>
	


{% endblock %}