{% block stylesheet %}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap" rel="stylesheet">

{% endblock %}

<!-- its CSS is in Menu_card.css -->

<div class="sidebar">
	<div class="sidebar-content">
		<div class="sidebar-list">
			<ul class="sidebar-list-menu">
				<span class="sidebar-list-menu-active-bar"></span>
				<li><a href="#beverages" class="active" dd-active-tab="1">Beverages</a></li>
				<li><a href="#starters" dd-active-tab="2">Starters</a></li>
				<li><a href="#main-course" dd-active-tab="3">Main Course</a></li>
				<li><a href="#desserts" dd-active-tab="4">Desserts</a></li>
			</ul>
		</div>
	</div>
</div>