{% extends "base.html" %}

{% load static form_tags widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/TagStyle1.css' %}">
    <link rel="stylesheet" href="{% static 'css/TagStyle2.css' %}">
{% endblock %}

{% block body %}
    <div class='Major-Container'></div>
    <div class="Sub-Container">
        <p class="header">
            Add Tags
        </p>
        <form method="POST" action="">
            {% csrf_token %}
            {% for field in form %}
                {{ field }}
            {% endfor %}
            <input class="animated" type="submit" value="Update">
        </form>
</div>
{% endblock %}