{% extends "base.html" %}

{% load static form_tags widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/Add_Tag_Style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/Add_Tag_Style2.css' %}">
{% endblock %}

{% block body %}
    <div class='Major-Container'></div>
    <div class="Sub-Container">
        <p class="header">
            Add Tags
        </p>
        <form method="POST" action="">
            {% csrf_token %}
            {% for field in form %}
                <div class='form-group'>
                    {% render_field field class=field|input_class %}
                    {% for error in field.errors %}
                        <div class='invalid-feedback'>
                            {{ error }}
                        </div>
                    {% endfor %}    
                </div>
            {% endfor %}
            <input class="animated" type="submit" value="Update">
        </form>
        
        <a href="" target=""></a>
</div>
{% endblock %}