@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

#id_dish_details_container{
    padding: 3%;
    box-shadow: 8px 0px 10px #E5E7E9;
}

.form-group{
    margin-bottom: 35px;
    display: flex;
}

.form-check{
    display: block;
    height: calc(1.5em + .75rem + 2px);
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    width: 50%;
    transition: 0.6s;
    margin-bottom: 2px;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    outline: none;
}
.form-control{
    border: none;
    border-bottom: 2px solid #6D7781;
    border-radius: 0;
    width: 50%;
    transition: 0.6s;
    margin-bottom: 2px;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    outline: none;
}


.form-control:focus{
    border-bottom: 4px solid #F1C40F;
    border-radius: 3px;
    height :calc(2.0em + 1.2rem + 2px);
} 

.label_{
    padding-top: 3px;
    font-size: 24px;
    font-family: 'Lobster', cursive;
    color: #F5B041;
}

svg {
	fill: rgb(202, 207, 210);
	height: 3.6rem;
	width: 3.6rem;
    margin: 0.2rem;
    margin-right: 50px;
}
.categoryclass{
    margin-right: 50px;
    padding-top: 3px;
    font-size: 24px;
    font-family: 'Lobster', cursive;
    color: #F5B041;
}

.alcoholclass{
    padding-top: 3px;
    font-size: 24px;
    font-family: 'Lobster', cursive;
    color: #F5B041;
    margin-right: 60px;
}
input[type="radio"] {
	position: absolute;
	opacity: 0;
}

input[type="radio"] + svg {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

input + svg {
	cursor: pointer;
}

input[id="id_category_0"]:hover + svg,
input[id="id_category_0"]:checked + svg,
input[id="id_category_0"]:focus + svg {
	fill: rgb(88, 214, 141);
}

input[id="id_alcohol_0"]:hover + svg,
input[id="id_alcohol_0"]:checked + svg,
input[id="id_alcohol_0"]:focus + svg {
	fill: rgb(244, 208, 63);
}

input[id="id_category_1"]:hover + svg,
input[id="id_category_1"]:checked + svg,
input[id="id_category_1"]:focus + svg {
	fill: rgb(231, 76, 60);
}

input[id="id_alcohol_1"]:hover + svg,
input[id="id_alcohol_1"]:checked + svg,
input[id="id_alcohol_1"]:focus + svg {
	fill: rgb(236, 112, 99);
}

.add-tags{
    height: 40px;
    width: 40px;
    margin-left: 20px;
    border-radius: 50%;
    background-color: #16A085;
    padding: 7px 8px;
}

#id_name{
    margin-left: 24px;
}

#id_price{
    margin-left: 90px;
}

#id_food_tag{
    margin-left: 100px;
}

label[for="id_description"]{
    padding-top: 3px;
    font-size: 24px;
    font-family: 'Lobster', cursive;
    color: #F5B041;
    margin-right: 28px;
}

#id_icon_image_title{
    text-align: center;
    font-size: 26px;
    font-family: 'Yusei Magic', sans-serif;
    color: #F5B041;
    text-decoration: underline;
    text-decoration-color: red;
}


label[for="id_description"]{
    padding-top: 3px;
    font-size: 24px;
    font-family: 'Lobster', cursive;
    color: #F5B041;
    margin-right: 28px;
}


.description-row{
    margin-top: 3%;
    box-shadow: 2px 5px 10px #E5E7E9;
    padding-top: 2%;
    padding-left: 3%;
    padding-bottom: 3%;
}

#id_description_tag{
    margin-right: 20px;
}

.description-group{
    padding-right: 6%;
    padding-left: 2%;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    
}

#id_description{
    width: 100%;
    padding: 2% 2%;
    height : 15rem;
    border: none;
    border-bottom: 3px solid #6D7781;
    border-radius: 0px;
    transition: 0.6s ease-in-out;
    outline: none;
}

#id_description:focus{
    border-bottom: 5px solid #F1C40F;
    border-radius: 5px;
    height :calc(15.0rem + 1.0rem + 2px);
    box-shadow: 0 0 0 3pt #bedef4;
}


.major-row{
    margin-top: 3%;
    box-shadow: 2px 5px 10px #E5E7E9;
    height: 650px;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}


#id_major_cancel{
    background-color: #E74C3C;
    border-radius: 5px; 
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
}

#id_major_confirm{
    background-color: #2ECC71;
    border-radius: 5px; 
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: white;
    padding: 10px 19px;
    cursor: pointer;
}

#id_major_image_container{
    max-width: 500px;
    max-height: 500px;
    height: 500px;
    margin: 0 auto;
}

#id_major_image_container img{
    height: 100%;
    width: 100%;
}

#id_major_image_title{
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'Yusei Magic', sans-serif;
    color: #F5B041;
    text-decoration: underline;
    text-decoration-color: red;
    margin-bottom: 20px;
}

.buttons-array{
    width: auto;
    padding: 0 12%;
}

input[type="submit"]{
    background: #1FCE6D;
    outline: none;
    border: 0;
    width: 200px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    box-shadow: 0 3px 0 0 #239B56;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    cursor: pointer;
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 5px;
}

input[type="submit"]:active{
    position: absolute;
    margin-top: 43px;
    box-shadow: 0 0 0 0 white;
}

#id_delete_btn{
    width: 0;
    height: 0;
    visibility: hidden;
}

#id_detele_btn_label{
    background: #EC7063;
    outline: none;
    border: 0;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    box-shadow: 0 3px 0 0 #CB4335;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    padding: 5px 70px;
    text-align: center;
    cursor: pointer;
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 5px;
}

#id_detele_btn_label:active{
    position: absolute;
    margin-top: 43px;
    box-shadow: 0 0 0 0 white;
}


#id_cancel_btn_label{
    background: #3498DB;
    outline: none;
    border: 0;
    text-decoration: none;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    box-shadow: 0 3px 0 0 #2874A6;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    padding: 5px 70px;
    text-align: center;
    cursor: pointer;
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 5px;
}

#id_cancel_btn_label:active{
    position: absolute;
    margin-top: 43px;
    box-shadow: 0 0 0 0 white;
}